/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* General Styles */
 
html {
	font-size: 16px; 
}
 
body {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  color: #595959;
}
 
ul, 
ol {
  list-style-type: none;
}
 
a {
  color: #ffff;
  text-decoration: none;	
  font-size: 1em; 
}
 
p {
  font-size: 1em; 
  line-height: 1.5;
}

.content-wrapper {
  width: 90%;
  margin: 30px 0;
}

img { 
	width: 100%;
}
figure {
  margin: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/******************* BASE HEADER & FOOTER STYLES  -- MOBILE FIRST  *****************/ 


/********************** HEADER - MOBILE ******************************************/ 

header {
  height: 320px;
  background: url('../img/cake1.jpg');
  background-size: cover;
}

.full-width {
  height: 320px;
}
#logo {
  width: 9%; 
  border-radius: 50%;
} 
.text {
  color: #ffff;
  font-size: 2.5em;
  position: absolute;
  width: 100%;
  top: 15px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
.text p {
  margin-top: 5px;
}
.openbtn {
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #ba9bda; /* Black fallback color */
  opacity: 0.85;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f2f2f2;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #595959;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/********************** FOOTER - MOBILE *******************************************/ 

footer {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; 
}

footer {
  flex-direction: column; 
  text-align: center;
  background-color: #ba9bda;
  opacity: 90%;
  color: #ffff;
}

footer p {
  margin: 0; 
}

footer.content-wrapper {
  width: 55%; 
}

footer .contact {
  margin-bottom: 50px; 
  padding-top: 20px; 
}

footer .social-icon {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%; 
}

footer .social-icon p {
  display: flex; 
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1.5px #ffff solid; 
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

footer .social-icon i {
  font-size: 1em;

}           
footer .copyright {
  margin: 20px 0; 
}



/**************************** MAIN AREA - MOBILE FIRST ******************************/



/************************************ FEATURES -MOBILE  *******************************/


.features {
  display: flex;
  justify-content: center;
  flex-flow: row wrap; 
}
.features article {
 
  margin: 20px 0; 
}
 .features-items {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; 
  width: 100%;
} 

.features h3 {
  font-size: 1.075em;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0 15px 0;
}
.features-items figure {
  width: 100%; 
}
.features img {
  border: 1px solid  #cccccc;
  border-radius: 2%; 
}
.features p {
  margin: 0;
  text-align: center;
}

/************************************ ABOUT -MOBILE  *******************************/

.about {
  display: flex;
  justify-content: center;
  flex-flow: row wrap; 
  background-color: #f2f2f2;  
}

.about img {
  border: 1px solid  #cccccc;
  border-radius: 2%; 
}
.about p{
  margin-right: 10px; 
}



/******************************** GALLERY - MOBILE *******************************/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/***************************************************************************************************************
                                    MEDIA QUERIES - MOBILE MAX WIDTH 320PX
 ***************************************************************************************************************/   

   @media only screen and (max-width: 350px) {
     header {
       height: 250px;
     }
     .full-width {
       height: 250px; 
     }
    .text {
      font-size: 1.9em;
    }
   }
/***************************************************************************************************************
                                    MEDIA QUERIES - TABLET
 ***************************************************************************************************************/                                 

 @media only screen and (min-width: 768px) {
  /* Tablet breakpoint */ 

  body {
    font-size: 1.2em;
  }


  /************************ HEADER -TABLET ***********************************************/
header {
  height: 600px;
}
.full-width{
  height: 600px; 
}

#logo {
  width: 10%;
}
.text {
  font-size: 4.1em;
  margin-top: 10px;
  
}

 /************************ FOOTER -TABLET ***********************************************/
  footer .social-icon p {
    width: 40px; 
    height: 40px; 
  }

  /************************ FEATURES -TABLET ***********************************************/

.features-items{
  align-items: flex-start;
}
.features article {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-flow: column wrap; 
  flex-basis: 29%;
  margin: 0 10px; 
}
.features p {
  padding: 0 5px;
}
  /************************ ABOUT -TABLET ***********************************************/

  .about .content-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 40px 0; 
  }
  .about figure{
    align-items: flex-start;
  }

  .about p {
    padding-left: 30px;
    display: block;
    margin-top: 0;
  }
   /************************ GALLERY -TABLET ***********************************************/

  .gallery figure {
    max-height: 400px;
    overflow: hidden;
  }
/***************************************************************************************************************
                                    MEDIA QUERIES -DESKTOP
 ***************************************************************************************************************/  


@media only screen and (min-width: 1200px){
  /* Desktop breakpoint*/
  
  /* General styles */ 

  body {
    font-size: 1.4em;
  }

   
 /************************ HEADER -DESKTOP ***********************************************/
header {
  height: 800px; 
}

.full-width {
  height: 800px; 
}

 #logo   {
  width: 10%;
}
.text {
 font-size: 5.5em;
 margin-top: 20px;
 top: 0;
}

 /************************  FOOTER -DESKTOP ***********************************************/

footer .social-icon p {
  width: 45px;
  height: 45px;
}



 /************************ FEATURES -DESKTOP ***********************************************/


.features {
  padding: 30px 0; 
}
.features h3 {
  margin-top: 35px;
}

.features p {
  line-height: 1.6;
}

 /************************ ABOUT -DESKTOP ***********************************************/

.about {
  padding:50px 0 50px 0;
}
 /************************ GALLERY -DESKTOP ***********************************************/

.mySlides figure {
  min-height: 600px; 
  overflow: hidden;
  margin: 0;

}



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
     thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  }
}